.header{
  display: flex;
  justify-content: space-between;
  padding-left: 32px;
  padding-right: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom-style: solid;
  border-color: #222222;
  border-bottom-width: 1px;
}

.title{
  font-size: larger;
}

.info-text{
  font-size: small;
  margin-right: 20px;
  margin-top: 5px;
}

.button-container{
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.button{
  border-style: solid;
  border-color: #3e3d3d;
  border-width: 1px;
  border-radius: 15px;
  padding: 3px 15px 3px;
}

.button-left{
  margin-right: 10px;
}
