.header{
  display: flex;
  justify-content: space-between;
  margin-left: 50px;
  margin-right: 30px;
  margin-top: 5px;
}

.title{
  font-size: larger;
}

.button-container{
  display: flex;
  flex-direction: row;
}

.button{
  border-style: solid;
  border-color: #3e3d3d;
  border-width: 1px;
  border-radius: 15px;
  padding: 3px 15px 3px;
}

.button-left{
  margin-right: 10px;
}
