<div class="post-list">
  <ul>
    <app-list-header></app-list-header>
    <li class="post-item-container" *ngFor="let post of postList$ | async; let i = index"
        [ngStyle]="i === 1 ? {'border-bottom-width': '2px'} : {'border-bottom-width': '0px'}">
      <div class="post-item-user">
        <div>
          {{ post.user.name }}
        </div>
        <a href="{{post.user.website}}">{{ post.user.companyName }}</a>
      </div>
      <div class="post-item-post">
        <div class="post-title">
          {{ post.post.title }}
        </div>
        <div>
          {{ post.post.body }}
        </div>
      </div>
    </li>
  </ul>
</div>
