.post-item-container{
  display: flex;
  border-style: solid;
  border-color: #222222;
  border-width: 2px;
}

.post-item-user{
  flex: 1;
  border-right-style: solid;
  border-color: #222222;
  border-right-width: 2px;
}

.post-item-post{
  flex: 3;
}

.post-list {
  margin: 5px 30px 5px -10px;
}
