<div class="post-list">
  <ul>
    <app-list-confirmation></app-list-confirmation>
    <app-list-header></app-list-header>
    <li class="post-item-container" *ngFor="let post of postList$ | async | postSelect; let i = index"
        [ngStyle]="i === 9 ? {'border-bottom-width': '2px'} : {'border-bottom-width': '0px'}">
      <div class="post-item-user">
        <div>
          {{ post.user.name }}
        </div>
        <a href="{{post.user.website}}">{{ post.user.companyName }}</a>
      </div>
      <div class="post-item-post">
        <div [ngClass]="{'post-title-color': isActiveTitle(post.post.userId, loggedUser$ | async)}" class="post-title "
             (click)="navigateToDetail(post.post.id, post.post.userId)" >
          {{ post.post.title }}
        </div>
        <div>
          {{ post.post.body }}
        </div>
      </div>
    </li>
  </ul>
</div>
