<div class="body">
  <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)">
    <label class="title" for="titleInput">Title</label>
    <div class="contentContainer">
      <input type="text" id="titleInput" [formControl]="$any(myForm.controls['title'])">
    </div>
    <label class="title" for="messageInput">Message</label>
    <div class="contentContainer">
      <input type="text" id="messageInput" [formControl]="$any(myForm.controls['body'])">
    </div>
    <div [ngClass]="{'buttons-full' : areButtonsFull, 'buttons-without-delete' : !areButtonsFull}">
      <button type="button" *ngIf="areButtonsFull" class="button">
        Delete
      </button>
      <div class="buttons-full">
        <button type="submit" class="button save">Save</button>
        <button type="button" class="button">Cancel</button>
      </div>
    </div>
  </form>
</div>

